@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  
}

.channel-box {
  padding: 12px;
  background-color: black;
  border-radius: 18px;
  color: white;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 6px;
  margin-top: 6px;
  justify-content: center;
}

.channel-box:hover {
  background-color: gray;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
}

.create-box {
  height: 30px;
  margin: 6px 12px;
  width: 80%;
  border-radius: 6px;
}

.logout-button {
  background-color: darkslategray;
  border-radius: 12px;
  margin: 6px 12px;
  padding: 12px 0px;
  font-size: larger;
  color: white;
}

.logout-button:hover {
  background-color: slategray;
}

.name-box {
  height: 54px;
  width: 54px;
  margin: 6px 12px;
  margin-left: 25%;
  padding: 6px 12px;
  background-color: black;
  border-radius: 100%;
  color: white;
  font-size: x-large;
}

.side-bar{
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  width: 144px;
  height: 100vh;
}

